@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  flex: 1;
  max-width: 360px;
  background-color: #bcbbc1;
  border-radius: 5px;
  box-shadow: #747474 0 0 2px 0px;
}

.calc-container-inner {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.display-container {
  background-color: #9aa794;
  color: #090707;
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #000;
  border-radius: 5px;
}

.major-display {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 24px;
  height: 24px;
}

.minor-display {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 16px;
  height: 18px;
  margin-bottom: 5px;
}

.mid-container {
  align-self: baseline;
  background-color: #bc7490;
  padding: 4px;
  border-radius: 2px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.button-container {
  height: 25px;
}

.button-container button {
  color: #dee4e6;
  border: 0;
  font-weight: 700;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.on button {
  background-color: #bc7490;
}

.dark-button button {
  background-color: #4c495b;
}

.light-button button {
  background-color: #888893;
}

.op-add {
  height: unset;
  grid-column: 5 / 6;
  grid-row: 4 / 6;
}
